body{
    background-color: #bde0fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;        
}

footer{
    position: absolute;
    bottom: 0;
}

.container{
    background-color: white;
    width: 300px;       
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container img{
    width: 250px;
    height: 250px;
    border-radius: 15px;    
    margin: 20px 25px 0px;
}

.container .title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Rubik, sans-serif;    
    padding: 0 10px;
}

.container .subTitle{
    text-align: center;
    font-size: 15px;
    color: grey;
    font-family: Rubik, sans-serif;    
    padding: 0 10px 20px;
}